{% layout "layout.liquid" %}
{% block content %}

<container class="error-container d-flex flex-row justify-content-center align-items-center">
    <img src="https://i.imgur.com/X7CD3RR.png" alt="spilled drink" style="width: 500px;">
    <div class="error-message">
        <h1 class="error">Oops! Something got <span>mixed</span> up!</h1>
        <h2>{{error}}</h2>
    </div>
</container>



{% endblock %}