{% layout "layout.liquid" %}
{% block content %}
    <container class="mixie-container">
                <section class="mixie-description-container">
                    <h1 class="welcome">Welcome to Mixies!</h1>
                    <div class="mixie-para">Mixies is an app built for anyone who wants to enjoy a good cocktail! Feel free to browse our list of cocktail recipes as well as recipes made by our users. Don't forget to create an account to add and keep track of your own creative cocktail recipes! Happy mixin'!</div>
                </section>
                <section class="mixie-image-container">
                    <div className="ben-franklin"></div>
                </section>
    </container>
{% endblock %}

{%- comment -%} d-flex justify-content-center align-items-center {%- endcomment -%}