{% block content %}
<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">MIXIES</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            {% if loggedIn %}
                <a href="/examples/mine" class="nav-link text-light justify-content-end">Hello, {{ username }} </a>
            {% endif %}
            {% if loggedIn %}
                <a href="/cocktails/new" class="nav-link text-light">New</a>
                <a href="/cocktails/mine" class="nav-link text-light">My Cocktails</a>
                <a href="/auth/logout" class="nav-link text-light">Log Out</a>
                <a href="/spirits" class="nav-link text-light">View All Cocktails</a>
            {% else %}
                <a href="/auth/signup" class="nav-link text-light">Sign Up</a>
                <a href="/auth/login" class="nav-link text-light">Sign In</a>
                <a href="/spirits" class="nav-link text-light">View Cocktails</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}