{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/cocktails" method="POST">
        <fieldset>
            <legend>Create New Cocktail</legend>
            <label class="form-label">Cocktail: </label>
            <input 
                type="text" 
                name="name" 
                placeholder="cocktail"
                class="form-control"
            >
            <label class="form-label">Spirit</label>
            <input 
                type="text" 
                name="spirit" 
                placeholder="spirit" 
                class="form-control"
            >
            <label class="form-label">Ingredients:</label>
            <input 
                id="ingredients"
                type="text" 
                name="ingredients" 
                class="form-control"
            >
            <input id="ingredients-btn" type="submit" value="Add Ingredient" class="btn btn-success">
            <ul></ul>
            <label class="form-label">Recipe:</label>
            <input 
                type="text" 
                name="recipe" 
                class="form-control"
            >
        </fieldset>
        <input type="submit" value="Create New Example" class="btn btn-success">
    </form>
</div>
{% endblock %}