{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm form-container">
    <form class="form-group" action="/cocktails" method="POST">
        <fieldset>
            <legend class="form-title">Create New Cocktail</legend>
            <label class="form-label">Cocktail: </label>
            <input 
                type="text" 
                name="name" 
                placeholder="cocktail"
                class="form-control new-input"
            >
            <label class="form-label">Spirit:</label>
            <input 
                type="text" 
                name="spirit" 
                placeholder="spirit" 
                class="form-control new-input"
            >
            <label class="form-label">Image:</label>
            <input 
                type="text" 
                name="image" 
                placeholder="image url" 
                class="form-control new-input"
            >
            <label class="form-label">Ingredients:</label>
            <input 
                id="ingredients"
                type="text" 
                name="ingredients" 
                class="form-control new-input"
                placeholder="Add each ingredient separated by a comma"
            >
            
            {%- comment -%} {% assign ingredientsArray = ingredientsArray | push:  %} {%- endcomment -%}
            {%- comment -%} <input id="ingredients-btn" type="" value="Add Ingredient" class="btn btn-success"> {%- endcomment -%}
            {%- comment -%} <button></button> {%- endcomment -%}
            {%- comment -%} <ul></ul> {%- endcomment -%}
            <label class="form-label">Recipe:</label>
            <input 
                type="text" 
                name="recipe" 
                class="form-control new-input recipe-input"
            >
        </fieldset>
        <div class="text-center">
            <input type="submit" value="Create New Cocktail" class="btn new-edit-btn">
        </div>
    </form>
</div>
{% endblock %}