{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/cocktails" method="POST">
        <fieldset>
            <legend>Create New Cocktail</legend>
            <label class="form-label">Cocktail: </label>
            <input 
                type="text" 
                name="name" 
                placeholder="cocktail"
                class="form-control"
            >
            <label class="form-label">Spirit</label>
            <input 
                type="text" 
                name="spirit" 
                placeholder="spirit" 
                class="form-control"
            >
            <label class="form-label">Ingredients:</label>
            <small>Add each ingredient separated by a comma</small>
            <input 
                id="ingredients"
                type="text" 
                name="ingredients" 
                class="form-control"
            >
            
            {%- comment -%} {% assign ingredientsArray = ingredientsArray | push:  %} {%- endcomment -%}
            {%- comment -%} <input id="ingredients-btn" type="" value="Add Ingredient" class="btn btn-success"> {%- endcomment -%}
            {%- comment -%} <button></button> {%- endcomment -%}
            {%- comment -%} <ul></ul> {%- endcomment -%}
            <label class="form-label">Recipe:</label>
            <input 
                type="text" 
                name="recipe" 
                class="form-control"
            >
        </fieldset>
        <input type="submit" value="Create New Cocktail" class="btn btn-success">
    </form>
</div>
{% endblock %}