{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">Spirits</h2>
    <div class="row">
        <a href="/cocktails/byspirit?spirit=Whiskey">Whiskey</a>
        <a href="/cocktails/byspirit?spirit=Vodka">Vodka</a>
        <a href="/cocktails/byspirit?spirit=Tequila">Tequila</a>
        <a href="/cocktails/byspirit?spirit=Rum">Rum</a>
        <a href="/cocktails/byspirit?spirit=Gin">Gin</a>
    </div>
</div>
{% endblock %}