{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">Spirits</h2>
    <div class="row">
        <a href="">Whiskey</a>
        <a href="/cocktails/index">Vodka</a>
        <a href="">Tequila</a>
        <a href="">Rum</a>
        <a href="">Gin</a>
    </div>
</div>
{% endblock %}