{% layout 'layout.liquid'%}
{% block content %}
<div class="text-center">
    <h2 class="display-6 mt-4 spirits-title">Spirits</h2>
    <main class="spirit-main">
        <div class="spirits-container">
            <container class="spirit-row-1">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://i.imgur.com/XxnqmkF.png" alt="whiskey" style="width:150px;">
                        </div>
                        <div class="flip-card-back">
                            <a class="spirit-link" href="/cocktails/byspirit?spirit=whiskey">Whiskey</a>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://i.imgur.com/xpLmVp6.png" alt="vodka" style="width:150px;">
                        </div>
                        <div class="flip-card-back">
                            <a class="spirit-link" href="/cocktails/byspirit?spirit=vodka">Vodka</a>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://i.imgur.com/zC4M8fZ.png" alt="rum" style="width:150px;">
                        </div>
                        <div class="flip-card-back">
                            <a class="spirit-link" href="/cocktails/byspirit?spirit=rum">Rum</a>
                        </div>
                    </div>
                </div>
            </container>
            <container class="spirit-row-2">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://i.imgur.com/qIuCFCM.png" alt="gin" style="height: 250px;">
                        </div>
                        <div class="flip-card-back">
                            <a class="spirit-link" href="/cocktails/byspirit?spirit=gin">Gin</a>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://i.imgur.com/kBsnTOU.png" alt="rum" style="width:150px; margin-top: 20px;">
                        </div>
                        <div class="flip-card-back">
                            <a class="spirit-link" href="/cocktails/byspirit?spirit=tequila">Tequila</a>
                        </div>
                    </div>
                </div>
            </container>
        </div>
    </main>
</div>
{% endblock %}