body{
    font-family: Roboto Slab;
}

.mixie-container {
    display: flex;
    flex-direction: row;
    width: 75vw;
    margin: 100px auto;
    gap: 30px;
}

.mixie-description-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-self: center;
    margin-top: -30px;
}

.mixie-image-container {
    height: 400px;
    width: 700px;
    background-image: url('https://i.imgur.com/w2l3I65.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}


/* nav-bar */
.navbar-brand {
    font-family: monoton;
    color: white;
    font-size: 60px;
    text-decoration: none;
    padding: 0;
    margin: 0;
    align-self: center;
}

.navbar {
    background-color: #4f7097;
    height: 75px;
}

/* Create New/Edit Cocktail */
.form-container {
    border: #4f7097 solid 5px;
    background-color: #93a7d1;
    margin-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 10px;
    width: 600px;
}

.form-title {
    color: white;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

.new-input {
    margin-bottom: 20px;
}

.new-edit-btn {
    font-size: 20px;
    width: 300px;
    margin: 30px;
    color: white;
    background-color: #4f7097;
}

.new-edit-btn:hover {
    background-color: #1bf5af;
    color: #4f7097;
}

.form-label {
    font-size: 20px;
}

/* Spirits */
.flip-card {
    width: 300px;
    height: 200px;
    perspective: 1000px;
    display: flex;
    align-items: center;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  /* Style the back side */
  .flip-card-back {
    transform: rotateY(180deg);
    margin-top: 70%;
  }

.spirits-title {
    color: white;
    width: 100%;
    padding-bottom: 7px;
    font-size: 60px;
    font-weight: 600;
    background-color:#93a7d1;
    border-top: solid 4px #4f7097;
    border-bottom: solid 4px #4f7097;
}

.spirit-main {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.spirit-row-1, .spirit-row-2 {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.spirit-row-1 {
    width: 700px;
}

.spirit-row-2 {
    width: 450px;
    margin-top: 50px;
    margin-left: 120px;
}

.spirit-link {
    padding: 30px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    background-color:#4f7097;
    border-radius: 10px;
}

.spirit-link:hover {
    color: #1bf5af;
}

/* Index */
.index-card {
    padding:0;
}

.cocktail-title {
    color: white;
    width: 100%;
    font-size: 60px;
    font-weight: 600;
    background-color:#93a7d1;
    border-top: solid 4px #4f7097;
    border-bottom: solid 4px #4f7097;
}

.card {
    border: solid 5px #4f7097;
    border-radius: 5px;
    margin: 10px;
}

.index-title {
    padding-bottom: 7px;
    background-color: #4f7097;
    color: white;
    font-size: 30px;
    white-space: nowrap;
}

.cocktail-img-container{
    background-color: white;
}

.cocktail-img {
    height: 200px;
}

.view-btn {
    color: white;
    font-size: 18px;
    background-color:#93a7d1; 
    border: #4f7097 solid 3px;
    margin: 10px, 0px, 10px, 0px;
    white-space: nowrap;
} 

.view-btn:hover {
    background-color:#1bf5af; 
    color: #4f7097;
}

/* show */
.show-card {
    display: flex;
    flex-direction: row;
    min-width: 700px; 
    max-width: 900px;
    max-height: 550px;
    border: #4f7097 solid 4px;
    border-radius: 10px;
    margin: 0px auto 10px;
}

.show-title {
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    background-color:#4f7097;
    border-radius: 10px;
    padding: 5px;
    color: white;
    margin-bottom: 20px;
}

.show-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-img {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    padding: 30px;
}

.info-container {
    width: 60%;
    margin: 30px 30px 30px 10px;
}

.show-btn-container {
    display: flex;
    justify-content: center;
}

.show-btn {
    border: #4f7097 solid 3px;
    margin: 20px 15px 0px 15px;
    width: 140px;
    background-color: #93a7d1;
    color: white;
}

.show-btn:hover {
    background-color: #1bf5af;
    color: #4f7097;
}

/* review */
.yellow-star {
    color: #FFBF00;
}

.gray-star {
    color: #888888;
}

.review-container {
    margin: auto;
}

.review-btn {
    width: 200px;
    margin: 25px;
}

.no-reviews {
    font-size: 20px;
    margin: auto;
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    width: 300px;
    color: white;
    background-color: #4f7097;
    border-radius: 10px;
}

.review-card-show {
    margin: auto;
}

.review-card {
    border-radius: 10px;
    border: #4f7097 solid 4px;
}

.review-delete-btn {
    font-size: 20px;
    width: 200px;
    color: white;
    background-color: #4f7097;
}

.review-delete-btn:hover {
    background-color: #1bf5af;
    color: #4f7097;
}

.review-content {
    font-size: 16px;
    margin-bottom: 5px;
}

.review-container {
    margin-top: 60px;
}

.review-notice {
    margin-bottom: 40px;
}

/* auth */
.auth-label {
    margin-top: 18px;
}

.auth-container {
    margin-top: 60px;
}

.form-label {
    color: white;
}

/* error */
.error-container{
    margin-top: 70px;
}

span {
    font-family: monoton;
}

@media (max-width: 800px) {
    body {
        width: 100vw;
    }

    .navbar {
        width: 100vw;
    }

    .navbar-brand {
        font-size: 40px;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;..");
    }

    #navbarNav {
        background-color: #4f7097;
        justify-content: end;
        z-index: 99;
    }

    .mixie-container {
        width: 100vw;
        flex-direction: column;
    }

    .mixie-description-container {
        width: 90vw;
        text-align: center;
    }

    .mixie-image-container {
        width: 90vw;
        margin: auto;
    }

    .ben-franklin {
        object-fit: cover;
    }

    .form-container {
        width: 80%;
    }

    .new-edit-btn {
        width: 80%;
        font-size: 15px;
    }

    .form-title {
        font-size: 20px;
    }

    .form-label {
        font-size: 15px;
    }

    .form-control {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .index-card {
        max-width: 170px;
        margin: 5px;
    }

    .cocktail-img {
        height: 130px;
    }

    .cocktail-title, .spirits-title{
        font-size: 30px;
    }

    .index-title {
        font-size: 20px;
    }

    .view-btn {
        width: 100%;
        font-size: 11px;
        word-wrap: wrap;
    }

    .spirits-container {
        width: 100vw;
    }

    .spirit-row-1, .spirit-row-2 {
        flex-direction: column;
        margin: 10px;
        width: 100vw;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }

    .spirit-row-2 {
        margin-top: 100px;
    }

    .show-card {
        flex-direction: column-reverse;
        min-width: 70vw;
        margin-top: 400px;
        max-height: unset;
    }

    .show-img {
        max-height: 300px;
    }

    .info-container {
        width: 90vw;
        margin: auto;
    }

    .show-title {
        width: 90vw;
        margin-bottom: 20px;
    }

    .title-div {
        margin: auto;
    }

    .review-card {
        width: 90vw;
    }

    .review-delete-btn {
        font-size: 12px;
        width: 100px;
    }
}